<li class="item-content scheme-item my-list-item">
	<span class="hidden scheme-id">{{Id}}</span>
	<div class="item-title">
		 <div class="row">
		  	<div class="col-100 topic wrap">{{SchemeName}}</div>
		 </div>
	</div>
</li>