<li class="list-item activity-item">
	<span class="hidden activity-id">{{Id}}</span>
	<div class="item-title">
	   <div class="row">
		    <!-- Each "cell" has col-[widht in percents] class -->
		    <div class="col-65 topic"><b>{{UserName}}</b></div>
		    <div class="col-35 topic">{{UpdatedDate}}</div>
		</div>   
		 <div class="row">
		  	<div class="col-100 topic">{{DeptVisited}}</div>
		 </div>
		 <div class="row">
		  	<div class="col-100 topic wrap">{{SchemeName}}</div>
		 </div>
		 <div class="row">
		  	<div class="col-100 topic">{{ProjectStage}}</div>
		 </div>
	</div>
</li>