<li class="list-item notice-item">
	<span class="hidden notice-id">{{Id}}</span>
	<div class="item-title">
	    <div class="topic">{{UpdatedDate}} <b>{{Topic}}</b></div>
	    <div class='usr-name'>{{UserName}}</div>
	</div>
</li>